/* =Form Input
----------------------------------------------- */

.form-input {
	background-color: $input-background-color;
	display: block;
	position: relative;
	width: 100%;

	&_label {
		color: $label-color;
		font-size: $label-size;
		font-weight: $label-weight;
		left: 0;
		letter-spacing: .2px;
		position: absolute;
		padding: 5px 10px;
		text-transform: uppercase;
		top: 0;
		z-index: 3;
	}

	&_input {
		appearance: none;
		background-color: transparent;
		border: $input-border;
		border-radius: $input-border-radius;
		color: $input-color;
    font-size: $input-size;
    font-weight: 700;
    line-height: 20px;
		height: $input-height;
		padding: 23px 10px 5px;
		letter-spacing: .2px;
		width: 100%;
		position: relative;
		z-index: 2;
	}

	&_select {
		background-image: url($icons-path + 'select-arrow.svg');
		background-repeat: no-repeat;
		background-position: 98% center;
	}
}
