/* =Form
----------------------------------------------- */

// Label
$label-color: rgba(get-color('gray'), .5);
$label-size: 16px;
$label-weight : 500;

// Input
$input-background-color : get-color('white');
$input-border : 1px solid get-color('gray');
$input-border-radius : 0;
$input-color : get-color('gray');
$input-color-focus : get-color('black');
$input-height : 50px;
$input-size: 16px;

@import './form-field';
@import './form-input';
@import './form-password';
@import './form-checkbox';
@import './form-radio';
@import './form-note';
