/* =Form Password
----------------------------------------------- */

.form-password {

	&_toggle {
		@include reset-button;
		background: url($icons-path + 'eye.svg') no-repeat center center;
		cursor: pointer;
		height: 50px;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 56px;
		z-index: 2;
	}

	&_hide {
		background: url($icons-path + 'eye-close.svg') no-repeat center center;
	}

	.form-input {
		&_input {
			padding-right: 56px;
		}
	}
}
