/* Form */
// Title
$colorTitle : #fff;
// Label
$labelColor : #fff;
$labelSize  : 16px;
$labelMarginBottom : 0px;
$labelMarginTop: 10px;
$labelWeight : 700;
// Input
$formMarginBottom : 30px;
$inputBgColor : #fff;
$inputColor : #313131;
$inputColorFocus : $w;
$inputHeight : 44px;
$inputBorder : none;
$inputBorderRadius : 0;
$inputPlaceholder : #fff;
// Button
$buttonHeight: 38px;
$buttonWidth: 102px;
$buttonBgColor : #fff;
$buttonBorder : none;
$buttonBorderRadius : $buttonHeight/2;
$buttonColor : getColor("graydark");
$buttonSize : ms(-1);
$buttonWeight : 700;

// .form-container{
// 	position: relative;
// 	&:before{
// 		@include mq($from: tablet ) {
// 			content: "";
// 			background-color: getColor("blue");
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			bottom: 0;
// 			width: 50%;
// 		}
// 	}
// }

input[type=text],
input[type=email],
input[type=password],
input[type="date"],
input[type="search"],
input[type="tel"],
select,
textarea{
	width: 100%;
	color: $inputColor;
	background-color: $inputBgColor;
	border-radius: $inputBorderRadius;
	border: $inputBorder;
	text-indent: 5px;
	font-size: 14px;
	padding: 5px 17px;
	height: auto;
	height: $inputHeight;
	transition: background-color .4s;
	appearance: none;
	// @include placeholder($inputPlaceholder);
	// &:focus{
	// 	background-color: #69B2E1;
	// 	color: $inputColorFocus;
	// }
}
.search{
	position: relative;
	input[type="text"],
	input[type="search"]{
		// padding-right: 70px;
		padding-right: 59px;
	}
	button{
		appearance: none;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		border: 0;
		position: absolute;
		right: 0;
		top: 0;
		height: $inputHeight;
		width: 59px;
		&:after{
			background: transparent url($iconsPath+ 'search.svg') center center no-repeat;
			content:"";
			position: absolute;
			right: 0;
			width: 15px;
			height: 15px;
			top: 15px;
			z-index: 10;
			margin-right: 22px;
		}
	}
}
.select{
	position: relative;
	select{
		position: relative;
		// &:focus{
		// 	background-color: #69B2E1;
		// 	color: $inputColorFocus;
		// }
	}
	&:after{
		background: transparent url($iconsPath+ 'arrow-dropdown.svg') center center no-repeat;
		content:"";
		position: absolute;
		right: 0;
		width: 15px;
		height: 15px;
		top: 17px;
		z-index: 10;
		margin-right: 15px;
	}
}
textarea{
	padding: 17px;
	min-height: 180px;
}
label{
	color: $labelColor;
	font-size: $labelSize;
	font-weight: $labelWeight;
	display: block;
	margin-top: $labelMarginTop;
	margin-bottom: $labelMarginBottom;
	white-space: nowrap;
}

.form{
	background-color: getColor('blue');
	padding: 44px 15px 52px;
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	@include clearfix();

	@include mq($from: tablet ) {
		padding: 44px 0 52px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	&:before{
		background-color: getColor('blue');
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		bottom: 0;
		width: 500%;
		right: 100%;
	}
	
	&_title{
		color: $colorTitle;
		font-size: ms(4);
		font-weight: 700;
		margin: 0 0 19px;
		line-height: ms(6);
	}
	
	label,
	&_label{
		color: $labelColor;
		font-size: $labelSize;
		font-weight: $labelWeight;
		display: block;
		margin-top: $labelMarginTop;
		margin-bottom: $labelMarginBottom;
		white-space: nowrap;
	}
	&_file{
		background: $bluedark;
		border: $buttonBorder;
		border-radius: $buttonBorderRadius;
		color: $w !important;
		cursor: pointer;
		display: inline-block !important;
		font-size: 24px;
		padding: 15px 20px;
		input[type=file]{
			display: none;
		}
	}
	button[type=submit],
	&_submit{
		appearance: none;
		background: $buttonBgColor;
		border: $buttonBorder;
		border-radius: $buttonBorderRadius;
		// box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
		font-size: $buttonSize;
		font-weight: $buttonWeight;
		// font-family: "Lato";
		color: $buttonColor;
		cursor: pointer;
		height: $buttonHeight;
		width: $buttonWidth;
		// margin: 0 auto;
		outline: none;
		// padding: 10px 0;
		// padding: 15px 20px;
		display: inline-block;
		// text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.42);
		// width: 200px;
		// width: 100%;
		@include press-button();
		@include mq($from: tablet ) {}
	}
	&-75{
		@include mq($from: tablet ) {
			margin-left: 100px;
			width: 75%;
		}
	}
	&_row{
		@include clearfix();
		margin-bottom: $formMarginBottom;
	}
	&_col-75{
		margin-bottom: $formMarginBottom;
		&:last-child{
			margin-right: 0;
		}
		@include mq($from: tablet ) {
			float: left;
			margin-right: 2%;
			width: 74%;
		}
	}
	&_col-66{
		margin-bottom: $formMarginBottom;
		&:last-child{
			margin-right: 0;
		}
		@include mq($from: tablet ) {
			float: left;
			margin-right: 2%;
			width: 66%;
		}
	}
	&_col-25{
		margin-bottom: $formMarginBottom;
		&:last-child{
			margin-right: 0;
		}
		@include mq($from: tablet ) {
			float: left;
			margin-right: 2%;
			width: 24%;
		}
	}
	&_col-50{
		margin-bottom: $formMarginBottom;
		&:last-child{
			margin-right: 0;
		}
		@include mq($from: tablet ) {
			float: left;
			margin-right: 4%;
			width: 48%; //((100%/2)-$gutter);
		}
	}
	&_col-33-3{
		float: left;
		margin-right: 2%;
		margin-bottom: $formMarginBottom;
		padding: 0;
		width: 32%;
		&:last-child{
			margin-right: 0;
		}
	}
	&_col-33{
		margin-bottom: $formMarginBottom;
		padding: 0;
		&:last-child{
			margin-right: 0;
		}
		@include mq($from: tablet ) {
			float: left;
			margin-right: 2%;
			width: 32%;
		}
	}
	&_col-100{
		margin-bottom: $formMarginBottom;
	}
	&_field{
		position: relative;
		// margin-bottom: $formMarginBottom;
		&.required{
			&:after{
				content: "*";
				color: #fff;
				font-size: 24px;
				position: absolute;
				left: 100%;
				top: 0;
				// margin-top: 30px;
				margin-left: 5px;
			}
		}
		&.success{
			box-shadow: 0px 0px 0px 3px #59cb8f;
			border-radius: 3px;
			position: relative;
			&:after{
				background: transparent url(images/icon-error.png) 100% 0 no-repeat;
				background-size: auto 100%;
				content: "";
				display: block;
				height: 16px;
				width: 18px;
				position: absolute;
				right: 0;
				// top: 0;
				top: 50%;
				margin: 13px;
				margin-top: -8px;

			}
			input{
				border-color:transparent;
			}
		}
		&.error{
			box-shadow: 0px 0px 0px 3px #fc4a4a;
			border-radius: 3px;
			position: relative;
			&:after{
				background: transparent url(images/icon-error.png) 0 0 no-repeat;
				background-size: auto 100%;
				content: "";
				display: block;
				height: 16px;
				width: 18px;
				position: absolute;
				right: 0;
				// top: 0;
				top: 50%;
				margin: 13px;
				margin-top: -8px;
			}
			input,
			select{
				border-color:transparent;
			}
		}
	}
	&_select-content{
		padding: 0 15px;
	}
	&_select{
		display: block;
		border-radius:3px;
		// margin-bottom: $formMarginBottom;
		overflow: hidden;
		position: relative;
		width: 100%;
		select{
			background-color: transparent;
			border: solid #AAAAAA 1px;
			border-radius: 3px;
			font-size: 14px;
			color: #414141;
			// height: 42px;
			height: $inputHeight;
			appearance:none;
			padding: 10px 35px 10px 10px;
			position: relative;
			z-index: 3;
			width: 100%;
			@include mq($from: tablet ) {
				padding: 10px 50px 10px 10px;
			}
			// @include breakpoint(1418px) {
			// 	padding: 21px 17px;
			// }
		}
		&:before{
			background-color: #fff;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
		&:after{
			background-image: url(images/arrow-down.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-color: #4fb0fd;
			border-radius: 1px;
			content: "";
			display: block;
			width: 25px;
			height: 100%;
			position: absolute;
			right: 1px;
			top: 1px;
			z-index: 2;
			@include mq($from: tablet ) {
				// width: 40px;
				width: $inputHeight;
			}
			
		}
	}
	&_btns{
		padding: 10px 10px;
		@include mq($from: tablet ) {
			padding: 10px 0;
		}
	}
	&_note{
		color: #000000;
		font-size: 14px;
		margin: 0 0 10px;
		text-align: left;
		&:before{
			content: "";
			background-color: #69B2E1;
			border-radius: 3px;
			display: inline-block;
			height: 20px;
			margin-right: 10px;
			vertical-align: top;
			width: 20px;
		}
	}
}
div[class^="form_col"]{
	div[class^="form_col"]{
		margin-bottom: 0;
	}
}