/* =Collapsibles
----------------------------------------------- */

.collapsible {

	&-overflowed {
		margin-left: -15px;
		margin-right: -15px;
	}

	&_main-title {
		color: get-color(black);
		font-size: ms(4);
		font-weight: 300;
		margin: 0 0 22px;
	}

	&_item {
		border-bottom: 1px solid get-color(lightgray);
		// margin: 0 0 19px;

		&.active {
			.collapsible {

				&_header {
					background-color: get-color(light);
					border-bottom-color: get-color(lightgray);		
					color: get-color(black);
					user-select: none;

					&::after {
						transform: rotate(-180deg);
					}
				}

				&_body {
					// border-color: get-color("blue");
					// box-shadow:  inset 0px 0px 0px 2px get-color(dark);
					// display: block;
				}
			}
		}
	}

	&_header {
		background-color: get-color(light);
		border-bottom: 1px solid transparent;		
		color: get-color(dark);
		cursor: pointer;
		padding: 18px 13px;
		padding-right: 67px;
		position: relative;
		transition: all .35s;

		&::after {
			background-image: url($iconsPath + 'arrow-select.svg');
			background-repeat: no-repeat;
			content: "";
			height: 6px;
			margin-right: 13px;
			// position: absolute;
			width: 9px;
			@include center(v);
			right: 0;

			@include mq($from: tablet) {
				margin-right: 20px;
			}
		}
	}

	&_title {
		color: inherit;
		font-family: $roboto;
		font-size: ms(0);
		font-weight: 500;
		line-height: 24px;
		margin: 0;
		text-decoration: underline;
		user-select: none;
	}

	&_body {
		// border: 2px solid transparent;
		// background-color: get-color(gray21);
		margin-top: -2px;
		padding: 8px 11px;
		display: none;
		
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}    
	}
}
