/* =Collapsibles
----------------------------------------------- */

.collapsible {

	&_item {
		border-bottom: 1px solid get-color('darkgray');

		&.active {

			.collapsible {

				&_header {
					background-color: get-color('white');
					border-bottom-color: get-color('darkgray');
					color: get-color(black);
					user-select: none;

					&::after {
						transform: rotate(-180deg);
					}
				}

				// &_body {}
			}
		}
	}

	&_header {
		background-color: get-color('white');
		border-bottom: 1px solid transparent;
		color: get-color('black');
		cursor: pointer;
		padding: 18px 13px;
		padding-right: 67px;
		position: relative;
		transition: all .35s;

		&::after {
			@include center(v);

			background-image: url($icons-path + 'arrow-select.svg');
			background-repeat: no-repeat;
			content: '';
			height: 6px;
			margin-right: 13px;
			right: 0;
			width: 9px;

			@include mq($from: tablet) {
				margin-right: 20px;
			}
		}
	}

	&_title {
		color: inherit;
		font-size: ms(0);
		font-weight: 500;
		line-height: 24px;
		margin: 0;
		text-decoration: underline;
		user-select: none;
	}

	&_body {
		display: none;
		margin-top: -2px;
		padding: 8px 11px;
		
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
