/* =Footer
----------------------------------------------- */

.site-footer {
	background-color: color('gray');
	padding: 40px 0;
	display: block;
	overflow: hidden;
	width: 100%;

	.site-logo {
		margin: 0 0 20px;
		display: block;
	}

	.social {
		text-align: center;

		@include media-breakpoint-up(lg) {
			text-align: right;
		}

		li {
			display: inline-block;
		}
	}

	ul {
		li {
			a {
				color: color('darkgray');
			}
		}
	}
}

// .footer-social {
// 	@include reset-ul;

// 	&_item {}

// 	&_link {}

// 	&_link:hover {}
// }
