/* =Form Field
----------------------------------------------- */

.form-field {
	margin: 0 0 10px;
	position: relative;

	&.required {

		&::after {
			color: #fff;
			content: '*';
			font-size: 24px;
			left: 100%;
			margin-left: 5px;
			position: absolute;
			top: 0;
		}
	}

	&.success,
	&.error {
		border-radius: 3px;
		position: relative;

		&::after {
			background: transparent 0 0 no-repeat;
			background-size: auto 100%;
			content: '';
			display: block;
			height: 16px;
			margin: 13px;
			margin-top: -8px;
			position: absolute;
			right: 0;
			top: 50%;
			width: 18px;
		}

		input, select, textarea {
			border-color:transparent;
		}
	}

	&.success {
		box-shadow: 0px 0px 0px 3px color('success');

		&::after {
			background-image: url($icons-path + 'icon-success.png');
		}
	}
	&.error {
		box-shadow: 0px 0px 0px 3px color('error');

		&::after {
			background-image: url($icons-path + 'icon-error.png');
		}
	}
}
