/* =Form
----------------------------------------------- */

// Label
$label-color: rgba(color('gray'), .5);
$label-size: 16px;
$label-weight : 500;

// Input
$input-background-color : color('white');
$input-border : 1px solid color('gray');
$input-border-radius : 0;
$input-color : color('gray');
$input-color-focus : color('black');
$input-height : 50px;
$input-size: 16px;
$input-weight: 400;

@import './form-field';
@import './form-input';
@import './form-password';
@import './form-checkbox';
@import './form-radio';
@import './form-note';
