/* =Headings
----------------------------------------------- */
h1, .title-s1 { font-size: ms(5); }
h2, .title-s2 { font-size: ms(4); }
h3, .title-s3 { font-size: ms(3); }
h4, .title-s4 { font-size: ms(2); }
h5, .title-s5 { font-size: ms(1); }
h6, .title-s6 { font-size: ms(0); }

// text styling helper classes
.italic    { font-style: italic !important; }
.xlight    { font-weight: 200 !important; }
.light     { font-weight: 300 !important; }
.regular   { font-weight: 400 !important; }
.semibold  { font-weight: 500 !important; }
.bold      { font-weight: 600 !important; }
.xbold     { font-weight: 700 !important; }
.defaultcase { text-transform: none !important; }
.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: lowercase !important; }
.underline { text-decoration: underline !important; }
