/* =Headings
----------------------------------------------- */

.text-1 {
	font-size: rem(48px);
}

.text-2 {
	font-size: rem(36px);
}

.text-3 {
	font-size: rem(28px);
}

.text-4 {
	font-size: rem(24px);
}

.text-5 {
	font-size: rem(21px);
}

.text-6 {
	font-size: rem(18px);
}

.title-1 {
	@extend .text-1;
	color: color('blue');
	font-weight: 700;
	line-height: 1.1;
	margin: rem(0 0 32px);
}

.title-2 {
	@extend .text-2;
	color: color('blue');
	font-weight: 600;
	line-height: 1;
}

.title-3 {
	@extend .text-3;
	color: color('blue');
	font-weight: 600;
	font-weight: 700;
	line-height: 34px;
	margin: 0 0 rem(32px);
}

.title-4 {
	@extend .text-4;
	color: color('blue');
	font-weight: 600;
	line-height: 1;
}

.title-5 {
	@extend .text-5;
	color: color('blue');
	font-weight: 400;
	line-height: 1;
}

.title-6  {
	@extend .text-6;
	color: color('blue');
	font-weight: 400;
}

.title-7 {
	@extend .text-4;
	color: color('blue');
	font-weight: 500;
	line-height: rem(40.8px);
}
