/* =Header
----------------------------------------------- */

.site-header {
	background-color: color('gray');
	color: color('darkgray');
	height: 65px;
	position: relative;

	@include media-breakpoint-up(lg) {
		height: 110px;
	}

	.site-logo {
		position: absolute;
		width: 100px;
		z-index: 40;

		@include media-breakpoint-up(lg) {
			width: 166px;
		}

		img {
			height: auto;
			width: 100%;
		}
	}
}

.site-logo {
	color: color('darkgray');
	padding: 10px 0;
}
