/* =Navigation
----------------------------------------------- */

.navigation {
	background-color: rgba(color('gray'), .9);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	transform: scale(0);
	transform-origin: top right;
	transition: all .2s ease-out;
	z-index: 30;

	@include media-breakpoint-up(lg) {
		background-color: transparent;
		float: right;
		position: relative;
		top: 0;
		transform: scale(1);
	}

	&_content {

		@include media-breakpoint-down(lg) {
			@include center(v);
			width: 100%;
		}
	}

	&_list {
		@include reset-ul;
		text-align: center;

		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}

	&_item {
		margin-bottom: 20px;

		@include media-breakpoint-up(lg) {
			display: inline-block;
			margin-bottom: 0;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&_link {
		color: color('blue');
		font-weight: 400;
		text-decoration: underline;

		@include media-breakpoint-down(md) {
			font-size: rem(16px);
		}
	}

	&_top {

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			padding: 20px 0 15px;
		}

		li {
			a {

				@include media-breakpoint-up(lg) {
					font-size: rem(12px);
				}
			}
		}
	}

	&_bottom {

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			padding: 15px 0;
		}

		li {
			a {
				font-size: rem(14px);
			}
		}
	}
}
