/* =Table Grid
----------------------------------------------- */

@each $breakpoint-name, $breakpoint in $grid-breakpoints {
	.table-#{$breakpoint-name}-row {

		@include media-breakpoint-up( $breakpoint-name) {
			display: table;
			table-layout: fixed;
			width: 100%;
		}

		> [class*='col-#{$breakpoint-name}-'] {
			@include media-breakpoint-up( $breakpoint-name) {
				display: table-cell;
				float: none;
				vertical-align: top;
			}

			&.top {
				@include media-breakpoint-up( $breakpoint-name) {
					vertical-align: top;
				}
			}

			&.bottom {
				@include media-breakpoint-up( $breakpoint-name) {
					vertical-align: bottom;
				}
			}

			&.middle {
				@include media-breakpoint-up( $breakpoint-name) {
					vertical-align: middle;
				}
			}
		}
	}
}

.table {

	&-block {
		display: table;
		height: 100%;
		width: 100%;

		& &_content {
			display: table-cell;
		}
	}

	@each $breakpoint-name, $breakpoint in $grid-breakpoints {
		&-#{$breakpoint-name}-block {

			@if($breakpoint-name == xs) {
				@include media-breakpoint-down(md) {
					display: table;
					height: 100%;
					width: 100%;

					.table-block_content {
						display: table-cell;
					}
				}
			}

			@else {
				@include media-breakpoint-up( $breakpoint-name) {
					display: table;
					height: 100%;
					width: 100%;

					.table-block_content {
						display: table-cell;
					}
				}
			}
		}
	}

	&-block--center {
		.table-block_content {
			vertical-align: middle;
		}
	}

	&-block--bottom {
		.table-block_content {
			vertical-align: bottom;
		}
	}
}
