/* =Tooltips
----------------------------------------------- */

.tooltip {
	border: 1px solid #979797;
	border-radius: 3px;
	background-color: get-color(white);
	color: #979797;
	position: absolute;
	width: 205px;
	padding: 8px;
	opacity: 0;
	z-index: 10;
	transition: .2s;

	&::before {
		background: transparent url($iconsPath + "tooltip-shape.svg") center center no-repeat;
		background-size: contain;
		content: "";
		width: 14px;
		height: 13px;
		// border-style: solid;
		// border-color: #fff transparent transparent transparent;;
		position: absolute;
	}

	&.top {
		bottom: 100%;
		margin-bottom: 15px;
		@include center(h);
		
		&::before {
			top: 100%;
			margin-top: -1px;

			@include center(h);
		}
	}

	&.bottom {
		top: 100%;
		margin-top: 10px;

		@include center(h);

		&::before {
			border-width: 0 11.5px 13px 11.5px;
			border-color: transparent transparent #fff transparent;
			bottom: 100%;

			@include center(h);
		}
	}

	&.left {
		border-width: 11.5px 13px 11.5px 0;
		margin-left: 18px;
		top: 0;
		right: 100%;

		@include center(v);
	}

	&.right {
		top: 0;
		left: 100%;

		@include center(v);
		
		&::before {
			right: 100%;

			@include center(v);
		}
	}

	&.dark {
		background-color: get-color(black);
		border:0;

		&.bottom {
			&::before {
				border-color: transparent transparent get-color(black) transparent;				
			}
		}
	}

	p {
		color: get-color(black);
		font-size: ms(-2);
		margin: 0;
	}

	&_header {
		padding-right: 20px;
		position: relative;
	}

	&_close {
		margin: 0 ;
		position: absolute;
		right: 0;
		top: 0;
	}

	&_checkbox {
		display: none;

		&:checked {

			+ .tooltip {
				opacity: 1;
			}
		}
	}
}

.tooltip-content {
	// @include tooltip();
	position: relative;

	&:hover {
		z-index: 2 !important;

		.tooltip {
			opacity: 1;
		}
	}
}
