$dot-width :13px;
$dot-height :13px;

$slick-loader-path: './' !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;



/* Slider */

.slick-list {
	width: 100%;

	.slick-loading & {
		background: #fff slick-image-url('ajax-loader.gif') center center no-repeat;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 42px;
	width: 23px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 20;

	&:hover,
	&:focus {
		outline: none;
		background: transparent;
		color: transparent;

		&::before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled::before {
		opacity: $slick-opacity-not-active;
	}

	&::before {
		content: '';
		font-size: 20px;
		display: block;
		line-height: 1;
		width: 23px;
		height: 42px;
	}
}

.slick-prev {
	left: 32px;

	[dir='rtl'] & {
		left: auto;
		right: -25px;
	}

	&::before {
		background: transparent url('../images/icons/arrow-prev.svg') no-repeat center center;
	}
}

.slick-next {
	right: 32px;
	
	[dir='rtl'] & {
		left: -25px;
		right: auto;
	}

	&::before {
		background: transparent url('../images/icons/arrow-next.svg') no-repeat center center ;
	}
}


/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0 0 20px;
	width: 100%;

	li {
		position: relative;
		display: inline-block;
		height: $dot-width;
		width: $dot-width;
		margin: 0 10px;
		padding: 0;
		cursor: pointer;

		button {
			// border: 1px solid #fff;
			border: 0;
			border-radius: 100%;
			background: rgba(#fff, .59);
			display: block;
			height: $dot-width;
			width: $dot-width;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;

			&:hover {
				background: rgba(#fff, .80); 
			}
		}

		&.slick-active {
			button {
				background-color: #fff;
			}
		}
	}
}


// Example Custom

.banners {
	.slick-dots {
		margin: 0;
		bottom: -40px;

		li {
			button {
				background: rgba(color('blue'), .59);
			}

			&.slick-active {
				button {
					background-color: color('blue');
				}
			}
		}
	}

	.slick-prev {
		left: 32px;

		@include media-breakpoint-up(md) {
			left: -20px;
		}

		@include media-breakpoint-up(lg) {
			left: -23px;
		}

		@include media-breakpoint-up(xl) {
			left: -42px;
		}

		&::before {
			background: transparent url('../images/icons/arrow-prev-blue.svg') no-repeat center center;
		}
	}

	.slick-next {
		right: 32px;

		@include media-breakpoint-up(md) {
			right: -20px;
		}

		@include media-breakpoint-up(lg) {
			right: -23px;
		}

		@include media-breakpoint-up(xl) {
			right: -42px;
		}

		&::before {
			background: transparent url('../images/icons/arrow-next-blue.svg') no-repeat center center ;
		}
	}
}
