/* =Typography
----------------------------------------------- */

// Whitney Bold
$whitney-bold : "Whitney-Bold";
$whitney-medium : "Whitney-Medium";
$whitney-light : "Whitney-Light";

$din : "DIN";
$wb : $whitney-bold, sans-serif;
$wm : $whitney-medium, sans-serif;
$wl : $whitney-light, sans-serif;

$fonts: (
	wb: $whitney-bold,
	wm: $whitney-medium,
	wl: $whitney-light
);

@each $fontKey, $font in $fonts {
  @font-face {
		font-family: $font;
		src: url($fontsPath + $font +'.eot');
		src: url($fontsPath + $font +'.eot?#iefix') format('embedded-opentype'),
				url($fontsPath + $font +'.woff') format('woff'),
				url($fontsPath + $font +'.ttf') format('truetype'),
				url($fontsPath + $font +'.svg#' + $font) format('svg');
		font-weight: normal;
		font-style: normal;
	}
}