/* =Helpers - Image To Background
 * Works with app.js 
 * Function: App.imageToBackground();
----------------------------------------------- */
.expanded-element {

	
}

.imgToBgExpand {
	height: 100%;
	position: relative;

	@include media-breakpoint-down(md) {
		min-height: 300px;
	}

	&_source {
		display: none !important;
		@include img-cover;
	}

	&_element {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: absolute;
		height: 100%;
		top: 0;
		// z-index: -1;
		
		&--left {
			right: 0;
		}

		&--right {
			left: 0;
		}
	}
}
