/* =Lists
----------------------------------------------- */

ul.disc {
	list-style-type: disc;
	padding-left: 25px;

	li {
		list-style-type: disc;
	}
}

ul.circle {
	list-style-type: circle;
	padding-left: 25px;

	li {
		list-style-type: circle;
	}
}

ul.square {
	list-style-type: square;
	padding-left: 25px;

	li {
		list-style-type: square;
	}
}

ol.upper-roman {
	list-style-type: upper-roman;
	padding-left: 25px;

	li{
		list-style-type: upper-roman;
	}
}

ol.lower-alpha {
	list-style-type: lower-alpha;
	padding-left: 25px;

	li {
		list-style-type: lower-alpha;
	}
}

ul {

	ul {
		padding-left: 2em;
	}
}
