/* =No Border-Margin-Padding
----------------------------------------------- */

$sides: (bottom, left, right, top);

@mixin breakpointProperty($property) {
	
	@each $side in $sides {
		&-#{$side} {
			#{$property}-#{$side}: 0 !important;
		}
	}

	@each $breakpoint-name, $breakpoint in $grid-breakpoints {
		@if($breakpoint-name == xs) {
			@each $side in $sides {
				&-#{$breakpoint-name}-#{$side} {
					@include media-breakpoint-down(md) {
						#{$property}-#{$side}: 0 !important;
					}
				}
			}
		}

		@else {
			@each $side in $sides {
				&-#{$breakpoint-name}-#{$side} {

					@include media-breakpoint-up( $breakpoint-name) {
						#{$property}-#{$side}: 0 !important;
					}
				}
			}
		}
	}
}

/* No Border */
.noborder {
	border: 0 !important;

	@include breakpointProperty(border);
}

/* No Padding */
.nopadding {
	padding: 0 !important;

	@include breakpointProperty(padding);
}

/* No Margin */
.nomargin {
	margin: 0 !important;

	@include breakpointProperty(margin);
}

.border-radius-20 {
	border-radius: 20px;
}

.border-top-20 {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.border-theme {
	border-radius: 20px;
}

.border-theme-bottom {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.border-theme-left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.border-theme-right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.border-theme-top {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.margin-overflowed-mobile {
	@include media-breakpoint-down(md) {
		margin-left: -15px;
		margin-right: -15px;
	}
}