/* =Helpers - Overflowed
 * Works with bootstrap's grid 
 * Overflowed the $grid-gutter-width/2
----------------------------------------------- */

@each $breakpoint-name, $breakpoint in $bootstrap-breakpoints {
	.overflowed-#{$breakpoint-name} {
		@if($breakpoint-name == xs) {
			@include mq($until: 768px ) {
				margin-left: -15px !important;
				margin-right: -15px !important;
			}
		}

		@else {
			@include mq($from: $breakpoint) {
				margin-left: -15px !important;
				margin-right: -15px !important;
			}
		}
	}
}
