/* =Helpers - Overflowed
 * Works with bootstrap's grid 
 * Overflowed the $grid-gutter-width/2
----------------------------------------------- */

@each $breakpoint-name, $breakpoint in $grid-breakpoints {
	.overflowed-#{$breakpoint-name} {
		@if($breakpoint-name == xs) {
			@include media-breakpoint-down(sm) {
				margin-left: -15px !important;
				margin-right: -15px !important;
			}
		}

		@else {
			@include media-breakpoint-up( $breakpoint-name ) {
				margin-left: -15px !important;
				margin-right: -15px !important;
			}
		}
	}
}
