body {
	color: getColor('primaryText');
	font-family: $lato;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	overflow-x: hidden;
}
a{
	color: #457EC0;
}
b,
strong {
  font-weight: bold;
}
figure{
	margin: 0;
}
blockquote{
	margin: 0;
}
hr{
	background-color: #D8D8D8;
	border: 0;
	height: 1px;
}