/* =Colors
----------------------------------------------- */

// color classes
@each $color-name, $color in $colors {
	.text-#{$color-name} {
		color: $color !important;
	}

	.bg-#{$color-name} {
		background-color: $color !important;
		&.expand-left{
			@include expand($color, left);
		}
		&.expand-right{
			@include expand($color, right);
		}
	}

	.border-#{$color-name} {
		border-color: $color !important;
	}
}
