/* COMMON STYLES */
.center-block{
	@include center-block()
}

.box-title{
	background-color: getColor("white");
	border-radius: 6px;
	box-shadow: 0 7px 0 getColor("blue");
	color: getColor("blue");
	font-size: ms(1);
	height: 103px;
	text-align: center;
	position: relative;
	
	&_text{
		@include center(v);
		// width: 100%;
		left: 0;
		right: 0;
	}
}


/* Lists */
.circle{
	li{
		line-height: ms(3);
		margin: 0 0 15px;
		position: relative;
		padding-left: 20px;
		&:before{
			content: "";
			background-color: getColor("blue");;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			position: absolute;
			// right: 100%;
			left: 0;
			// margin-right: 8px;
			margin-top: 6px;
		}
	}
}

/* Tables */
.table{
	margin: 30px 0;
	overflow: hidden;
	width: 100%;
	&_content{
		overflow-x: scroll;
	}
}
.table-blue{
	table{
		width: 100%;
		thead{
			text-align: left;
			tr{
				th{
					// font-family: $wl;
					font-size: 24px;
					font-weight: lighter;
					padding: 5px;
				}
			}
		}
		tbody{
			tr{
				background-color: #69B2E1;
				&:nth-child(even){
					background-color: rgba(#69B2E1,.4);
				}
				td{
					font-size: 14px;
					padding: 12px 5px;
				}
			}
		}
	}
}


.profile{
	@include clearfix();
	&_data{
		margin:50px 0;
		text-align: center;
		@include mq($from: desktop ) {
			text-align: left;
		}
	}
	&_image{
		@include center-block();
		border-radius: 50%;
		max-width: 166px;
	}
	p{
		margin: 0;
	}
	&--small{
		margin: 0 0 30px;
		.profile{
			&_image{
				max-width: 132px;
			}
			&_data{
				margin:25px 0 0;
			}
		}
	}
	&--dark{
		&.profile{
			color: getColor("white");
		}
	}
}