/*
	HEADER
*/
.site-header{
	background-color: getColor("gray");
	position: relative;
	height: 65px;
	color: getColor("darkgray");
	@include mq($from: tablet) {
	}
	@include mq($from: desktop) {
		height: 110px;
	}
	.site-logo{
		position: absolute;
		z-index: 40;
		width: 100px;
		@include mq($from: desktop ) {
			width: 166px;
		}
		img{
			height: auto;
			width: 100%;
		}
	}
}

.site-logo{
	color: getColor("darkgray");
	padding: 10px 0;
}