/* =Modules
----------------------------------------------- */
@import
	"modules/new",
	"modules/activity",
	"modules/banner",
	"modules/round-info",
	"modules/panel",
	"modules/documents",
	"modules/files",
	"modules/tabs",
	"modules/program";
	


.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
}

.black.overlay {
	background-color: getColor(black);
	opacity: 0.5;
}

.white.overlay {
	background-color: getColor(white);
	opacity: 0.85;
}
