
/* Sections */

.section{
	// padding: 65px 0;
	// overflow-x: hidden;
	padding: 50px 0;
	&--light{
		background-color: #fff;
		color: #4A4A4A;
	}
	&--blue{
		background-color: getColor("blue");
		color: getColor("white");
	}
	&--bluesky{
		background-color: getColor("bluesky");
		color: getColor("blue");
	}
	&--red{
		background-color: getColor("red");
		color: getColor("white");
	}
	&--graylight{
		background-color: getColor("graylight");
		color: getColor("graydark");
	}
	&--graydark{
		background-color: getColor("graydark");
		color: getColor("white");
	}
	&--gray{
		background-color: getColor("graylight2");
		color: getColor("white");
	}
	&--nopadding{
		padding: 0;
	}
	&--medium{
		padding: 25px 0;
	}
	&--big{
		padding: 70px 0;
	}
	&--first{
		padding-top: 70px;
	}
	&_header{
		&--centered{
			text-align: center;
		}
	}
	&_title{
		// font-family: $wb;
		font-size: 30px;
		margin: 0 0 10px;
		&--bluedark{
			color: $bluedark;
		}
		&--blue{
			color: $blue;
		}
	}
	// Pages
	&-contact{
		padding-top: 70px;
	}
	&-structure{
		.article-top{
			padding: 45px 25px;
		}
		.article-middle{
			padding: 27px 30px;
			@include mq($from: tablet ) {
				margin-top: -23px;
			}
		}
	}
	&-goals{
		.goal{
			// margin-bottom: 25px;
			padding: 15px 0;
		}
	}
	&-downloads{
		padding: 0;
		.box{
			color: getColor("white");
			padding: 30px 15px;
			text-align: center;
			&--deg-1{
				@include mq($from: tablet ) {
					background-color: rgba(#0062AB, .7);
				}
				&.box{
					&--expand-left{
						@include expand(rgba(#0062AB, .7), left);
					}
					&--expand-right{
						@include expand(rgba(#0062AB, .7), right);
					}
				}
			}
			&--deg-2{
				@include mq($from: tablet ) {
					background-color: rgba(#0062AB, .8);
				}
				&.box{
					&--expand-left{
						@include expand(rgba(#0062AB, .8), left);
					}
					&--expand-right{
						@include expand(rgba(#0062AB, .8), right);
					}
				}
			}
			&--deg-3{
				@include mq($from: tablet ) {
					background-color: #0062AB;
				}
				&.box{
					&--expand-left{
						@include expand(#0062AB, left);
					}
					&--expand-right{
						@include expand(#0062AB, right);
					}
				}
			}
			
		}

	}
}

.news-section{
  background-color: getColor("graydark");
	color: getColor("white");
  .new{
		padding: 35px 15px;
    margin-left: -15px;
    margin-right: -15px;
    &:after{
      background-image: linear-gradient(0deg, rgba(42,36,62,0.91) 9%, rgba(42,36,62,0.00) 100%); 
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
		&_title{
			font-size: ms(0);
			font-weight: 400;
		}
		&_header{
			position: relative;
			z-index: 11;
		}
		p{
			font-size: ms(-1);
		}
  }
  .ad{
    margin-left: -15px;
    margin-right: -15px;
  }
  .activity{
    margin-left: -15px;
    margin-right: -15px;
  }
}

@each $colorName, $color in $colors {
	.expand-#{$colorName}-left {
		@include expand($color, left);
	}
	.expand-#{$colorName}-right {
		@include expand($color, right);
	}
}

