//* =Settings
//----------------------------------------------- */

// Assets
$images-path : '../images/';
$svg-path : $images-path + 'svg/';
$icons-path : $images-path +'icons/';
$fonts-path : '../fonts/';

//Icon Fonts
$icon-font-name  : 'appfont';
$icon-fonts-prefix : 'ic-';
$icon-svg-prefix : 'icon';

//Fonts
$ohlivey : 'ohlivey';
$poppins: 'Poppins', sans-serif;

$ohliveyFamily: (
	'prefixName' : '',
	'fontFamily' : 'ohlivey',
	'fonts' : (
		('name':'ohlivey', 'weight': normal, 'style': normal),
	)
);

$poppinsFamily: (
	'prefixName' : 'Poppins-',
	'fontFamily' : 'Poppins',
	'fonts' : (
		('name':'Light', 'weight': 300, 'style': normal), 
		('name':'Regular', 'weight': normal, 'style': normal), 
		('name':'Medium', 'weight': 500, 'style': normal), 
		('name':'Semibold', 'weight': 600, 'style': normal), 
		('name':'Bold', 'weight': bold, 'style': normal),
		('name':'Italic', 'weight': normal, 'style': italic), 
	),
);

$font-faces: $poppinsFamily, $ohliveyFamily;