//* =Settings
//----------------------------------------------- */

// Assets
$imagesPath : "../images/";
$iconsPath : "../images/icons/";
$fontsPath  : "fonts/";

//Icon Fonts
$iconFontName  : "appfont";

// Resposive breakpoints
$mq-breakpoints: (
	mobile:  320px,
	android: 360px,
	phablet: 412px,
	tablet:  768px,
	desktop: 992px,
	wide:    1200px,
	xwide: 	 1440px,
	fullhd:  1600px,
);

$bootstrapBreakpoints: (
	xs: 0px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
);

// Font Size
$modularscale: (
  base: 1em,
  ratio: 1.125
);

// Color Map
$colors: (
	"black": #000,
	"white": #fff,
	"blue" : #0062AB,
	"red" : #EA3B44,
	"gray": rgb(250, 250, 250),
	"darkgray" : #636b6f,
	"primaryText" : #636b6f
);
