header.site-header
	.site-header_fixed
		.container
			input(type="checkbox" id="menu-trigger").menu-trigger-input
			a(href="/" title=`${projectName}` class="site-logo")
				img(src=`images/logo.png` width="auto" alt=`Logo ${projectName}`)
			include navigation
	