label(for="menu-trigger").menu-trigger
	span
nav.navigation
	label(for="menu-trigger").menu-trigger.menu-trigger-close
	.navigation_content
		ul.navigation_top
			li: a(href="#") Lorem
			li: a(href="#") Ipsum
		ul.navigation_bottom
			li: a(href="#") Lorem ipsum
			li: a(href="#") Lorem ipsum 
			li: a(href="#") Lorem ipsum
			li: a(href="#") Lorem ipsum