label(for="menu-trigger").menu-trigger
	span
nav.navigation
	label(for="menu-trigger").menu-trigger.menu-trigger-close
	.navigation_content
		ul.navigation_top
			li.navigation_item: a(href="#").navigation_link Lorem
			li.navigation_item: a(href="#").navigation_link Ipsum
		ul.navigation_bottom
			li.navigation_item: a(href="#").navigation_link Lorem ipsum
			li.navigation_item: a(href="#").navigation_link Lorem ipsum 
			li.navigation_item: a(href="#").navigation_link Lorem ipsum
			li.navigation_item: a(href="#").navigation_link Lorem ipsum