/* =Header
----------------------------------------------- */

.site-header {
	background-color: get-color("gray");
	color: get-color("darkgray");
	height: 65px;
	position: relative;

	@include mq($from: desktop) {
		height: 110px;
	}

	.site-logo {
		position: absolute;
		width: 100px;
		z-index: 40;

		@include mq($from: desktop) {
			width: 166px;
		}

		img {
			height: auto;
			width: 100%;
		}
	}
}

.site-logo {
	color: get-color("darkgray");
	padding: 10px 0;
}
