/* =Navigation
----------------------------------------------- */

.navigation {
	background-color: rgba(get-color('gray'),.9);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: right;
	// display: none;
	transform-origin: top right;
	transform: scale( 0 );
	transition: all .2s ease-out;
	z-index: 30;

	@include mq($from: desktop) {
		// display: block;
		background-color: transparent;
		position: relative;
		top: 0;
		float: right;
		transform: scale( 1 );
	}

	&_content {
		@include mq($until: desktop) {
			@include center(v);
			width: 100%;	
		}
	}

	&_top {
		@include mq($from: desktop) {
			padding: 20px 0 15px;
		}

		li {
			a {
				@include mq($from: desktop) {
					font-size: 12px;	
					font-size: ms(-2);
				}
			}
		}
	}

	&_bottom {
		@include mq($from: desktop) {
			padding: 15px 0;
		}

		li {
			a {
				font-size: ms(0);
			}
		}
	}

	ul {
		text-align: center;

		@include mq($from: desktop) {
			text-align: right;
		}

		li {
			margin-bottom: 20px;

			@include mq($from: desktop) {
				display: inline-block;
				margin-bottom: 0;

				&:not(:last-child) {
					margin-right: 20px;
				}
			}

			a {
				color: get-color("darkgray");

				@include mq($until: tablet) {
					font-size: ms(2);
				}
			}
		}
	}
}
/* Menu Trigger Hamburger */
.menu-trigger {
	border: none;
	background: none;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	display: block;
	margin: 0;
	z-index: 40;
	transition: all .2s;

	@include mq($from: desktop) {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 4px;
		margin-top: -2px;
		background-color: get-color("darkgray");
		border-radius: 5px;

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: -10px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: get-color("darkgray");
			border-radius: 5px;
			transition: all .2s;
		}

		&::before {
			top: 10px;
		}
	}

	/* Close */
	&::after,
	&::before {
		display: none;
		content: "";
		position: absolute;
		top: -5px;
		left: 14px;
		width: 5px;
		height: 38px;
		background-color: get-color("darkgray");
		border-radius: 5px;
		transform: rotate(45deg);
		transition: all .2s;
	}

	&::before {
		transform: rotate(-45deg);
	}

	&:active {
		span {
			&::after {
				top: -12px;
			}

			&::before {
				top: 12px;
			}
		}
	}
}

.menu-trigger-input {
	display: none;

	&:checked {
		~ .navigation {
		//  display: block;
			transform: scale(1);
		}

		~ .menu-trigger {
			position: fixed;

			span {
				display: none;
			}

			&:after,
			&:before {
				display: block;
			}

			&:active {
				transform: rotate(90deg) scale(.9);
			}
		}

		~ .site-logo {
			position: fixed;
		}
	}
}
