/* =Icon Fonts Classes
----------------------------------------------- */

$icon-fonts: (
	facebook: ( content: '\77'),
	instagram: ( content: '\79'),
	twitter: ( content: '\7a')
);

@each $icon-name, $icon in $icon-fonts {
	.#{$icon-fonts-prefix}-#{$icon-name} {
		&::before {
			content: map-get($icon, content);
		}
	}
}

// OR

// .ic-facebook:before {
// 	content: '\77';
// }

// .ic-instagram:before {
// 	content: '\79';
// }
// .ic-twitter:before {
// 	content: '\7a';
// }
